{% extends "accueil.html.twig" %}

{% block section %}

    <article>
        <h1>Ma mission de service</h1>
        <table>
            <tbody>
                <tr>
                    <td class="day" id="lundi">Lundi</td>
                    <td class="day" id="mardi">Mardi</td>
                    <td class="day" id="mercredi">Mercredi</td>
                    <td class="day" id="jeudi-et-vendredi">Jeudi & Mercredi</td>
                </tr>
            </tbody>
        </table>
        <section id="content">
            <p id="clic">Clique sur un jour de la semaine pour découvrir mon service.</p>
        </section>
    </article>
{% endblock %}