{% extends "accueil.html.twig" %}

{% block section %}

        <article>
            <h1>Mon parcours</h1>
            <div id="container-parcours">
                <div id="rectangle"></div>
                <div id="small-container-parcours">
                    <div class="formation" id="mission">
                        <div class="cercle" id="cercle1"></div>
                        <p class="mention">
                            <strong>Mission de service</strong> | 2021 - 2022, en cours<br>
                            Secours catholique, Croix-Rouge, Banque alimentaire
                        </p>
                    </div>
                    <div class="formation">
                        <div class="cercle centrer"></div>
                        <p class="mention">
                            <strong>DUT MMI spécialité INFORMATIQUE</strong> | 2018 - 2020<br>
                            IUT Paul Sabatier, Université Toulouse III - Site de Castres<br>
                        </p>
                    </div>
                    <div class="formation">
                        <div class="cercle centrer"></div>
                        <p class="mention">
                            <strong>BAC scientifique option Physique-Chimie</strong> | 2018<br>
                            Mention Bien, Mention section européenne anglais<br>
                        </p>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}